# Vim
*.swp
*.swo
*~

# macOS
.DS_Store

# Temporary files
*.backup.*

# IDE
.vscode/
.idea/

# Separately managed repositories
shared/nvim/

# Cache
**/__pycache__/
*.pyc
*.pyo

# iTerm2 cache
macos/iterm2/AppSupport/SavedState/
macos/iterm2/AppSupport/parsers/
macos/iterm2/AppSupport/*.socket
macos/iterm2/AppSupport/*.lock
macos/iterm2/AppSupport/log.*
